body{
	background-image: url("../images/pattern4.jpg");
}
.crystalCollector{
	background-color: #a94442;
	color: aliceblue;
	opacity:.90	;
	float: left;
	font-size: 48px;
	padding: 15px;
	font-family: 'Oswald', sans-serif;
}
.instructions{
	 background-color: #a94442;
	 color: aliceblue;
	 opacity: .90;*/
	 padding-top: 15px;
	 padding-bottom: 50px;
	 font-weight: bold;
	 font-size: 16px;
	 padding: 15px;
	 font-family: 'Droid Serif', serif;
}
.randomNumber{
	background-color: #a94442;
	color: aliceblue;
	opacity: .90;
	height: 150px;
	width: 350px;
	padding-top: 15px;
	font-size: 26px;
	text-align: center;
	vertical-align: center;
	line-height: 25px;
	 

}
.wins{
	background-color: #a94442;
	color: aliceblue;
	opacity: .90;
	height: 150px;
	width: 150px;
	padding: 15px;
	font-size: 24px;
	font-family: 'Droid Serif', serif;
}
.losses{
	background-color: #a94442;
	color: aliceblue;
	opacity: .90;
	height: 150px;
	width: 150px;
	padding: 15px;
	font-size: 24px;
	font-family: 'Droid Serif', serif;
}
.score{
	background-color: #a94442;
	color: aliceblue;
	opacity: .90;
	margin-top: 10px;
	font-size: 24px;
	font-family: 'Droid Serif', serif;
	padding: 15px;
}
.result{
	background-color: #a94442;
	color: aliceblue;
	opacity: .90;
	padding: 15px;	
	height: 150px;
	font-size: 24px;
	font-family: 'Droid Serif', serif;
}